alias ..='cd ..'
alias ...='cd ../..'
alias diff='diff --color=auto'
alias egrep='egrep --color=auto'
alias g='git'
alias ga='git add'
alias gb='git branch'
alias gba='git branch --all'
alias gc='git commit'
alias gca='git commit --amend --no-edit'
alias gcm='git commit -m'
alias gco='git checkout'
alias gd='git diff'
alias gds='git diff --staged'
alias gl='git log --oneline --graph'
alias gp='git push'
alias gpl='git pull'
alias gri='git rebase -i'
alias grc='git rebase --continue'
alias grs='git restore'
alias grss='git restore --staged'
alias gs='git status'
alias gst='git stash'
alias gstp='git stash pop'
alias grep='grep --color=auto'
alias h='history'
alias ll='ls -al'
alias less='less -iR'
alias ls='ls -F --color=auto'
alias mkdir='mkdir -p'
alias mx='chmod a+x'
alias path='echo $PATH | tr ":" "\n"'
alias rg='rg --hidden'
alias rgi='rg -i'
alias weather='curl wttr.in'
