alias ..='cd ..'
alias ...='cd ../..'
alias diff='diff --color=auto'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias h='history'
alias ll='ls -al'
alias less='less -iR'
alias ls='ls -F --color=auto'
alias mkdir='mkdir -p'
alias mx='chmod a+x'
alias rg='rg --hidden'

alias highstate='salt --state-output=changes \* state.highstate'
