[user]
	name = Cimarron Mittelsteadt
	email = cimarronm@gmail.com
[color]
	status = auto
	branch = auto
	ui = true
[merge]
	tool = opendiff
[diff]
[push]
	default = simple
[credential]
	helper = osxkeychain
