[user]
	name = Cimarron Mittelsteadt
	email = cimarronm@gmail.com
[color]
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore_global
[pull]
	ff = only
[submodule]
	recurse = true