settings set target.prefer-dynamic-value run-target

# Python utils
command regex pyo 's/(.+)/expression -- (void) _PyObject_Dump(%1)/'
command regex pyg 's/(.+)/expression -- (void) _PyGC_Dump(%1)/'
command alias py-bt expression -- (void) _Py_DumpTraceback(2, (void *) PyThreadState_Get())

# debug functions in python
command script import ~/github/dotfiles/lldb_funcs.py
command alias cc thread step-scripted -C lldb_funcs.ScriptedStepToCall
command alias cb thread step-scripted -C lldb_funcs.ScriptedStepToBranch
command alias csc thread step-scripted -C lldb_funcs.ScriptedStepToSyscall
command alias cad thread step-scripted -C lldb_funcs.ScriptedStepToAntiDebug
command alias ct thread step-scripted -C lldb_funcs.ScriptedStepToTarget
command script import ~/github/chisel/fblldb.py
